.burger{
    background-color: brown;
}
.burger{
    display: flex;
}
.container-fluid{
    display: flex;
}

.container-fluid{
    background-color: brown;
}
.Super{
    display: flex;
    margin-right: 30px;
}
.Super{
    background-color: brown
    
    
}
.dhoni{
    color: azure;
}
.Jurchen{
    display: flex;
}
.Dish{
    text-align: center;
}
.moment{
    display: flex;
}
.customer{
    text-align: center;
}
.tasty{
    display: flex;
}
.graip, .gary{
    display: flex;
}
.foot{
    text-align: center;
}
.Special{
    background-color: brown;
}
.footer{
    background-color: bisque;
}
.Food{
    background-color: bisque;
}
.Food{
    display: flex;
}
.info{
    margin-right: 150px;
}
.hour{
    margin-right: 40px;
}
.maggie{
    margin-right: 150px;
}
.right{
    text-align: center;
}
.offer{
    margin-top: 50px;
    position: absolute;
    color: aliceblue;
}
.Delicious{
    position: absolute;
    color: aliceblue;
}
